*.s#*
*.b#*
*.l#*
*.elf
*.lss
*.map
*.srec
*.d
*.o
Makefile
*.mk
*.eep
History/*
Project Logs*
__Previews*
*.APR_LIB
*.apr
*.DRR
*.EXTREP
*.G1
*.G2
*.GBL
*.GBO
*.GBP
*.GBS
*.GML
*.GTL
*.GTO
*.GTP
*.GTS
*.LDP
*.REP
*.RUL
gerbers/JLC_GERBERS/tsac-distribution.TXT
gerbers/Status Report.Txt
gerbers/JLC_GERBERS/tsac-distribution.GD1
*.GG1
*.GKO
gerbers/JLC_GERBERS.zip
gerbers/JLC_GERBERS.zip
gerbers/JLC_GERBERS.zip
